#form-div input {
	margin-bottom: -2px;
}
#form-div table td {
	padding: 5px 2px;
}
#form-div input[name=validCode] {
	width: 70px;
	padding: 0;
	padding-left: 6px;
}
#form-div #sendCode {
	width: 80px;
	font-size: 0.9em;
	padding: 2px;
	height: 30px;
	background: #999999;
	color: #eee;
}
#menu button{
	width: 120px;
	height: 40px;
	margin: 0 auto;
	margin-top: -70px;
}
